# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Virtual Environments
# -------------------------
venv/
.env/
.env.*
.venv/
best_model.pth

# -------------------------
# Data / temp / logs
# -------------------------
data/
logs/
temp/
*.log


# -------------------------
# VS Code / IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Build / cache
# -------------------------
build/
dist/
*.egg-info/
.cache/

# -------------------------
# Azure / deployment artifacts
# -------------------------
antenv/
__azure__/
