--extra-index-url https://download.pytorch.org/whl/cpu

fastapi==0.110.0
uvicorn==0.29.0
gunicorn==21.2.0

numpy==1.26.4

torch==2.2.2+cpu
torchvision==0.17.2+cpu

python-multipart==0.0.9
pillow==10.2.0
opencv-python-headless==4.8.1.78

